<mat-toolbar>
    <span>{{service.form.controls['$key'].value?"Modify State":"New State"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  <form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="1" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="$key">
          <mat-form-field>
            <input formControlName="stateName" matInput placeholder="State Name*">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field> 
          <mat-form-field>
              
            <mat-select formControlName="countryName" placeholder="Country Name" >
              <mat-option>None</mat-option>
              <ng-container *ngFor="let country of countryInfo;">  
                <mat-option value="{{country.CountryName}}">{{country.CountryName}}</mat-option>
              </ng-container>
              </mat-select>
            
          </mat-form-field>
          <mat-form-field>
              <input matInput formControlName="countryID"  placeholder="Country Code" >
          </mat-form-field>
            <!--
              <mat-form-field>
            <mat-select formControlName="countryName" placeholder="Country Name">
              
              <ng-container *ngFor="let country of countryService.array">
                <mat-option value="{{country.$key}} ">{{country.CountryId}}-{{country.CountryName}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field> -->
          <div class="add-bottom-padding">
            <mat-checkbox formControlName="isActive" [value]="falseValue" (change)="checkboxChange($event.source, $event.checked)">Active</mat-checkbox>
          </div>
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>